doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Title
    link(href='css/app.min.css', rel='stylesheet')
  body

    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Title
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home

    section(id='main')
      .container

    footer.footer
      .container
        | Made with&nbsp;
        a(href='http://gulpjs.com/', target="_blank") Gulp

    script(src='js/app.min.js')
